.chat-wrapper {
    border: 1px solid black;
    padding: 5px;
}

.name {
    align-self: center;
}

:host ::ng-deep .p-chip {
    background: #FFD54F;
    color: black;
}

.chat {
    display: flex;
    flex: 1;
}

.user-input img {
    background-color: black;
    height: 70%;
    width: 70%;
}

:host ::ng-deep .p-divider .p-divider-content {
    background: white;
    font-size: small;
}

.user-input button {
    background-color: black;
    border-radius: 100%;
}

.message-history {
    display: flex;
    flex-direction: column;
}

.timestamp {
    font-size: small;
    background-color: #ffd54f96;
}

.messages {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.chat-window-header {
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.user-input>input {
    border-radius: 20%;
    background-color: #fffcf3;
    border: 1px solid #ffd54f96;
    width: 11vw;
}

.user-input>input:focus {
    outline: none;
}

.user-input>button:focus {
    outline: none;
}

:host ::ng-deep .p-inputtext {
    color: black;
}