body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

:host ::ng-deep .p-tabmenu-nav {
    display: flex;
    justify-content: space-evenly;
}

:host ::ng-deep .p-tabmenu {
    width: 100%;
}